# Project
COMPOSE_PROJECT_NAME=flask_login_demo

# Database
DB_USER=flask_user
DB_NAME=flask_db

# Flask
FLASK_ENV=production
WEB_PORT=8080

# Optional Tools
PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=admin123
PGADMIN_PORT=5050
MAILHOG_SMTP=1025
MAILHOG_UI=8025